# === Archivos compilados de C ===
*.o
*.so
*.out
*.exe

# === Archivos de Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Entornos virtuales ===
env/
venv/

# === Archivos temporales y de sistema ===
*.log
*.tmp
*.bak
*~
.DS_Store

# === Carpetas de build y dist ===
/build/
/dist/

# === Archivos de IDEs ===
.vscode/
.idea/

# Para PlatformIO
.pio
.vscode
*.elf
*.bin
*.map

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# General
.DS_Store
.env
